*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~ 
.*.swp
.DS_Store
[Tt]humbs.db
__history
__recovery
*.res
*.local
*.identcache
*.stat
*.toc
*.log
*.synctex.gz
*.aux
*_minted*
*.dcu
*.bpl
TMSWeb
Debug
Win32
Win64
TMSWebIntermediate
.vscode
*.map
*.apk
*.dll
*.exe
*.bpi
*.dcp
*.dcu
*.dres
*.rsm
*.tds
*.lib
*.cfg
*.hpp
*Resource.rc
*.tvsconfig
*.dsk
*.stat
*.zip
*.7z
*.arj
*.tar
*.tar.gz
.git
.svn
